@model Intive.Meetup.Umbraco.Web.Models.SimpleGEModel

<section class="grideditor-simplege">
    <h3 class="grideditor-simplege__header">@Model.Header</h3>
    <p class="grideditor-simplege__description">@Model.Description</p>
</section>