@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

<section class="hello-world" >
	<h2 class="hello-world__header">Hello world example header section</h2>
	<div class="hello-world__panel hello-world__panel--left">
		left panel
	</div>
	<div class="hello-world__panel hello-world__panel--right">
		script output
		<pre data-hello-world data-greetings="Hi" data-name="Umbraco">This is our placeholder text...</pre>
	</div>
</section>