<div class="simple-ge" data-ng-controller="Intive.GridEditors.SimpleGE01 as ctrl">
    <div class="row-fluid">
        <div class="span8">
            <div class="form-horizontal">
                <div class="control-group">
                    <label for="{{$id}}-header" class="control-label">Header</label>
                    <input id="{{$id}}-header" name="header" data-ng-model="ctrl.model.header" />
                </div>
                <div class="control-group">
                    <label for="{{$id}}-description" class="control-label">Description</label>
                    <input id="{{$id}}-description" name="description" data-ng-model="ctrl.model.description" />
                </div>
            </div>
        </div>
        <div class="span4">







































































            ++++++++++++++++++++++++++++++++++++++++
        </div>
    </div>
</div>